

.list-group-item.kg-item{
  background-color: rebeccapurple;
}

.food-heading{
  background-color: aquamarine;
  text-align: center;
  font-weight: 800;
}

.kg-span{
  color: white;
  font-weight: 500;
}